@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile-mini: 300px;
  --breakpoint-mobile-large: 380px;
  --breakpoint-tablet-mini: 768px;
  --breakpoint-tablet-large: 1024px;
  --breakpoint-pc: 1366px;


  --color-*: initial;
  --color-black-main: #161616;
  --color-black-secondary: #262626;
  --color-black-hint: #4E4E4E;

  --color-white-main: #E4E4E4;

  --color-accent: #8FD67B;

  --color-5-main: #AAFF9A;

  --color-4-main: #B2FF8F;

  --color-3-main: #FFEE80;

  --color-2-main: #FF9393;

  --font-rubik: "Rubik", sans-serif;

  --spacing-safe-device-top: var(--tg-safe-area-inset-top);
  --spacing-safe-tg-top: var(--tg-content-safe-area-inset-top);
  --spacing-safe-bottom: calc(var(--tg-content-safe-area-inset-bottom) + var(--tg-safe-area-inset-bottom));
}

@layer components {
  .h2 {
    @apply text-xl font-semibold mobile-large:text-2xl
  }
  .h1 {
    @apply text-2xl font-semibold mobile-large:text-3xl
  }
}

body {
  @apply font-rubik bg-black-main text-white-main pb-safe-bottom px-4 select-none
}